html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Tree widget styles */

.tree-window .tree-container {
    margin-top: 5px;
    margin-bottom: 15px;
}

.tree-window .tree-container .tree-link {
    font-size: 17px;
}

.tree-window .tree-container > .tree-children {
    padding-left: 25px;
    border-left: 2px solid black;
}

.tree-window .tree-container > .tree-header > .tree-expand:before {
    content: "+"
}
.tree-window .tree-container.opened > .tree-header > .tree-expand:before {
    content: "-"
}
.tree-window .tree-container.waiting > .tree-header > .tree-expand:before {
    content: "o"
}

.tree-window .tree-container.moving > .tree-header > .tree-link {
    background: #A20000;
}